@inherits ViewPage
@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["Title"];
}
<script>
    var app = angular.module('urlShortenerApp', []);

    app.controller('urlShortenerCtrl', ['$scope', '$http',
        function ($scope, $http) {
            $scope.submitLongUrl = function() {
                if ($scope.longUrl) {
                    $scope.shortenedUrl = null;
                    $scope.errorMessage = null;
                    $scope.waiting = true;
                    $http.post('/shorten', { Url: $scope.longUrl, CustomPath: $scope.customPath })
                        .success(function (response) {
                            $scope.shortenedUrl = response.Shortened;
                            $scope.waiting = false;
                        })
                        .error(function (response) {
                            console.log('Error: ', response);
                            var message = "Unknown Error";
                            if (response.hasOwnProperty('ResponseStatus') && response.ResponseStatus.hasOwnProperty('Message'))
                                message = response.ResponseStatus.Message;
                            $scope.errorMessage = message;
                            $scope.waiting = false;
                        });
                }
            }
        }
    ]);
</script>

<div ng-app="urlShortenerApp">
    <div ng-controller="urlShortenerCtrl">
        <div>
            <form ng-submit="submitLongUrl()" name="shortenForm">
                <input class="form-control input-lg" ng-model="longUrl" id="LongUrl" type="url" placeholder="Paste your long URL">
                <input class="form-control input-sm" ng-model="customPath" id="CustomPath" type="text" placeholder="Type a custom short path (optional)" style="margin-top: 5px">
                <input class="btn btn-primary" style="margin-top: 5px"
                       ng-disabled="waiting" 
                       type="submit" name="go" value="Shorten!" />
            </form>
            <div style="margin-top: 15px"></div>
            <div class="container danger alert-danger" ng-show="errorMessage">
                <h4>{{errorMessage}}</h4>
            </div>
            <h3 ng-show="shortenedUrl">
                <a href="{{shortenedUrl}}" ng-bind="shortenedUrl" target="_blank"></a>
            </h3>
        </div>
    </div>
</div>
